<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccclubs.admin.orm.mapper.VerModuleRelationMapper">
	<!-- 开启基于redis的二级缓存，仅适用单表
    <cache type="com.ccclubs.framework.mybatis.RedisCache"/>-->
    
	<resultMap id="BaseResultMap" type="com.ccclubs.admin.model.VerModuleRelation">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="ver_id" jdbcType="INTEGER" property="verId" />
		<result column="module_id" jdbcType="INTEGER" property="moduleId" />
		<result column="module_val" jdbcType="VARCHAR" property="moduleVal" />
		<result column="is_sup" jdbcType="INTEGER" property="isSup" />
	</resultMap>

	<resultMap id="ModuleRelationResultMap" type="com.ccclubs.admin.vo.version.VerModuleRelationVo">
		<result column="moduleRelationId" jdbcType="INTEGER" property="moduleRelationId" />
		<result column="value" jdbcType="VARCHAR" property="value" />
		<result column="moduleId" jdbcType="INTEGER" property="id" />
		<result column="isSup" jdbcType="INTEGER" property="isSup" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="des" jdbcType="VARCHAR" property="des" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="dataType" jdbcType="BIGINT" property="dataType" />
		<result column="dataItemType" jdbcType="BIGINT" property="dataItemType" />
		<result column="dataValue" jdbcType="VARCHAR" property="dataValue" />
	</resultMap>

	<select id="selectRelationsByVerId" resultMap="ModuleRelationResultMap">
		SELECT
			vmr.id as moduleRelationId,
			vmr.module_val AS value,
			vmr.is_sup AS isSup,
			vm.id AS moduleId,
			vm.name AS name,
			vm.sort AS sort,
			vm.des AS des,
			vm.version AS version,
			vm.data_type AS dataType,
			vm.data_item_type AS dataItemType,
			vm.data_value AS dataValue
		FROM ver_module vm
		LEFT JOIN
			ver_module_relation vmr ON vm.id = vmr.module_id and  vmr.ver_id = #{verId}
		<where>
			vm.type = #{type}
		</where>
		ORDER BY
			vm.sort ASC
	</select>

	<select id="selectBySoftHardVersion" resultMap="BaseResultMap">
		SELECT vmr.*
		FROM ver_module vm
		LEFT JOIN ver_module_relation vmr ON vmr.module_id = vm.id
		<where>
			vmr.ver_id IN (#{hardId},#{softId})
		</where>
		ORDER BY vm.type ASC, vm.sort ASC
	</select>

	<insert id="insertByList" useGeneratedKeys="true" keyColumn="id">
		insert  into ver_module_relation(
			ver_id, module_id, module_val, is_sup
		) values
		<foreach item="relation" index="index" collection="list" separator=",">
			(
				#{relation.verId}, #{relation.moduleId},#{relation.moduleVal},#{relation.isSup}
			)
		</foreach>
	</insert>

	<delete id="batchDeleteByVerId">
		DELETE FROM ver_module_relation
		<where>
			ver_id IN
			<foreach collection="list" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</where>
	</delete>
	
</mapper>