<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 配置上下文名称 -->
    <springProperty scope="context" name="LOG_CONTEXT_NAME" source="spring.application.name"/>
    <!-- 配置日志路径 -->
    <springProperty scope="context" name="LOG_PATH" source="log.path"/>
    <property scope="context" name="DEF_PATH" value="/var/logs/vc/"/>
    <!-- 配置根日志级别 -->
    <springProperty scope="context" name="ENV_ACTIVE" source="spring.profiles.active"/>

    <if condition='p("ENV_ACTIVE").equals("dev")'>
        <then>
            <property scope="context" name="LOG_LEVEL" value="DEBUG" />
        </then>
    </if>
    <if condition='p("ENV_ACTIVE").equals("prod")'>
        <then>
            <property scope="context" name="LOG_LEVEL" value="INFO" />
        </then>
    </if>
    <if condition='p("ENV_ACTIVE").equals("test")'>
        <then>
            <property scope="context" name="LOG_LEVEL" value="DEBUG" />
        </then>
    </if>
    <if condition='p("LOG_PATH").equals("")'>
        <then>
            <property scope="context" name="LOG_PATH" value="${DEF_PATH}${LOG_CONTEXT_NAME}" />
        </then>
    </if>
    <!-- 配置日志输出 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(Line:%-3L) %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${LOG_CONTEXT_NAME}.%d{yyyy-MM-dd}.main.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${LOG_CONTEXT_NAME}.%d{yyyy-MM-dd}.error.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!-- 此日志文件只记录warn级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 开发环境 -->
    <springProfile name="dev">
        <!-- additivity="false" 不向上一次打印日志 -->
        <logger name="com.ccclubs" level="INFO">
            <appender-ref ref="ALL_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        <root level="${LOG_LEVEL:-DEBUG}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ALL_FILE"/>
        </root>
    </springProfile>
    <!-- 测试环境 -->
    <springProfile name="test">
        <!-- additivity="false" 不向上一次打印日志 -->
        <logger name="com.ccclubs" level="DEBUG">
            <appender-ref ref="ALL_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        <root level="${LOG_LEVEL:-DEBUG}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ALL_FILE"/>
        </root>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="ASYNC_ALL_FILE" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="ALL_FILE"/>
        </appender>
        <!-- additivity="false" 不向上一次打印日志 -->
        <logger name="com.ccclubs" level="INFO">
            <appender-ref ref="ALL_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        <root level="${LOG_LEVEL:-DEBUG}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_ALL_FILE"/>
        </root>
    </springProfile>

</configuration>